<div class="container">
	<br />
	<div class="row">
		<h1>Welcome to {{ title }}!</h1>
	</div>
	<br />
	<div class="row">
		<div class="col-md-6">
			<input
				type="number"
				[(ngModel)]="num1"
				placeholder="Enter Number 1"
				class="form-control"
			/>
		</div>
		<div class="col-md-6">
			<input
				type="number"
				[(ngModel)]="num2"
				placeholder="Enter Number 2"
				class="form-control"
			/>
		</div>
	</div>
	<br />
	<div class="row text-center">
		<div class="col-md-3">
			<button class="btn btn-info" (click)="add()">Add</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-info" (click)="substract()">
				Substract
			</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-info" (click)="multiply()">Multiply</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-info" (click)="divide()">Divide</button>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-5 col-md-offset-4">
			<h2>Result = {{ result }}</h2>
		</div>
	</div>
</div>
